<!DOCTYPE html>
<html>
<head>
  <title>Add Notification</title>
</head>
<body>
  <h1>Add Notification</h1>
  <form action="/add" method="post">
    <label>Label:</label><br>
    <input type="text" name="label"><br>
    <label>Content:</label><br>
    <textarea name="content"></textarea><br>
    <label>Time:</label><br>
    <input type="datetime-local" name="time"><br>
    <button type="submit">Add</button>
  </form>
</body>
</html>
